.container {

}
.button {
  padding: 7px;
  cursor: pointer; 
  background: linear-gradient(to right, rgb(88, 206, 88), rgb(64, 64, 143));
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
  font-size: large;
  display: inline-block;
  transition: transform 0.3s ease;

}

.button:hover {
  transform: scale(1.1);

  border: 3px solid rgb(182, 72, 216);
}