.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;


}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.imgContainer {
    width: 100%;
    height: 250px;
    position: relative;
}
.img {
    object-fit: cover;
    
}
.imgText {
    position:absolute;
    bottom:20px;
    right: 20px;
    padding: 5px;
    color: white ;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(168, 12, 168));
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.2px rgb(48, 74, 75);  
 
}