.item {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    border: 2px gray solid;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
    
}
.item:nth-child(even) {
    flex-direction: row-reverse
}
.item:hover {
    transform: scale(1.05);
    border: 5px solid aqua;
}
.itemContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 500px;
    text-align: justify;
}
.imgContainer {
    position: relative;
    height: 400px;
    width: 550px;

}
.img {
    object-fit:cover;
        border-radius: 10px;
}
