.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

.logo  {
    font-weight: bold;
    font-size: 40px ;
    font-style: italic;
    opacity: 0.5;
    background: linear-gradient(to right, rgb(199, 199, 199), rgb(65, 107, 2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.links{
    display: flex;
    align-items: center;
   gap: 20px;
}
.link:hover {
    color: green;
}
.logout {
    padding: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(15, 172, 172);
    border-radius: 5px;
}
 .active {
      color: #00ffcc; /* Highlight color */
  font-weight: bold;
  border-bottom: 2px solid #00ffcc;
 }