.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.item {
    display: flex;
    justify-content: space-between;
    gap: 200px;

}
.itemContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.imgContainer {

    position: relative;
    height: 400px;
    width: 400px;

}
.img {
    object-fit: cover;
}
